
.endpoints {

  padding-top: 88px;
  height: 100%;

  &__header {
    position: fixed;
    display: flex;
    width: 100%;
    padding-left: 80px;
    line-height: 48px;
    color: @body-second-color;
    z-index: 2;
    background: #fff;
    font-weight: bold;
    border-bottom: 1px solid @border-color;

    &__name {
      width: 160px;
    }

    &__url {
    }
  }

  &__items {

    margin-top: 48px;
    height: calc(~"100% - 48px");
    overflow: scroll;

    &__item {
      display: flex;
      position: relative;
      padding: 16px 0 16px 14px;
      cursor: pointer;

      &:hover {
        background-color: @menu-item-hover-color;
      }

      &__mark {
        width: 68px;
        padding: 10px 0 0 10px;
        color: @accent-1-color;
      }

      &__name {
        font-weight: bold;
        line-height: 48px;
        width: 160px;
      }

      &__url {
        line-height: 48px;
        margin-right: auto;
      }
    }
  }
}

