
.entity {

  padding-top: 64px;
  display: flex;
  align-items: stretch;
  height: 100%;

  &__menu {
    width: 160px;
    overflow: scroll;

    .mui-menu-item {
      padding: 0 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: auto;
    }
  }

  &__table {

    width: 100%;
    height: 100%;
    overflow: scroll;

    table {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    table * {
      box-sizing: inherit;
    }

    thead {
      display: flex;
      position: fixed;
      flex-direction: column;
      align-items: stretch;
      font-weight: bold;
      line-height: 40px;
      color: @body-second-color;
      border-bottom: 1px solid @border-color;

      tr {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        background: #fff;
      }

      th {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        flex: 4;
        padding: 0 2px 0 8px;
        font-weight: bold;
      }

      th.entity__control {
        max-width: 50px;
        min-width: 50px;
      }
    }

    tbody {

      display: flex;
      flex-direction: column;
      overflow: scroll;

      tr {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
      }

      td {
        height: 48px;
        line-height: 48px;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        flex: 4;
        padding: 0 2px 0 8px;
      }

      td.entity__control {
        max-width: 50px;
        min-width: 50px;

        .mui-drop-down-menu {
          height: 48px;
          padding: 8px 0 0 4px;
        }
      }
    }
  }
}
