.schema-form {

  &__buttons {

    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-right: 16px;
    margin-top: 10px;

    &__button {
      margin-left: 8px;
      .mui-font-icon {
        color: @raised-button-color;
        line-height: 36px;
      }
    }
  }

  &__item {

    padding: 0px 8px;

    .mui-text-field {
      width: 100%;
    }

    &--datetime {
      display: flex;
      &__time {
        padding-left: 8px;
        padding-top: 24px;
      }
      .mui-text-field-error {
        bottom: -20px;
      }
    }

    &--object {
      position: relative;
      margin-top: 10px;

      .row {
        border-left: 1px solid @border-color;
      }

      &__title {
        color: @body-second-color;
        position: absolute;
        background: #fff;
        top: -8px;
        left: -4px;
        padding: 4px;
      }
    }

    &--choice {
      display: flex;
      flex-direction: row;
      padding-top: 24px;
      position: relative;

      label {
        line-height: 36px;
        margin-right: 10px;
        color: rgba(0,0,0,0.5);
      }

      &__error {
        font-size: 12px;
        position: absolute;
        left: 8px;
        bottom: -16px;
        color: @input-error-color;
      }

      &__items {
        display: flex;
        flex-direction: row;

        &__item {
          .mui-flat-button {
          }
          .mui-flat-button.mui-is-primary {
            font-weight: bold;
          }
        }
      }

      &--mini {
        padding-top: 0px;
      }
    }

    &--boolean {
      display: flex;
      flex-direction: row;
      padding-top: 24px;
      position: relative;

      label {
        line-height: 36px;
        margin-right: 10px;
        color: rgba(0,0,0,0.5);
      }

      &__items {
        margin: 0 0 0 24px;
        padding: 5px 0 0 0;
      }
    }

    &--array {
      position: relative;
      margin-top: 10px;

      label {
        line-height: 36px;
        margin-right: 10px;
        color: rgba(0,0,0,0.5);
      }
    }

  }
}
