.schema-form {

  &__buttons {

    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-right: 16px;
    margin-top: 10px;

    &__button {
      margin-left: 8px;
      .mui-font-icon {
        color: @raised-button-color;
        line-height: 36px;
      }
    }
  }

  &__item {

    padding: 0px 8px;

    .mui-text-field {
      width: 100%;
    }

    &--object {
      position: relative;
      margin-top: 10px;

      .row {
        border-left: 1px solid @border-color;
      }

      &__title {
        color: @body-second-color;
        position: absolute;
        background: #fff;
        top: -8px;
        left: -4px;
        padding: 4px;
      }
    }

    &--choice {
      display: flex;
      flex-direction: row;
      padding-top: 24px;
      position: relative;

      label {
        line-height: 36px;
        margin-right: 10px;
        color: rgba(0,0,0,0.5);
      }

      &__error {
        font-size: 12px;
        position: absolute;
        left: 8px;
        bottom: -16px;
        color: @input-error-color;
      }

      &__items {
        display: flex;
        flex-direction: row;

        &__item {
          .mui-flat-button {
          }
          .mui-flat-button.mui-is-primary {
            font-weight: bold;
          }
        }
      }

      &--mini {
        padding-top: 0px;
      }
    }

    &--array {
      position: relative;
      margin-top: 10px;

      label {
        line-height: 36px;
        margin-right: 10px;
        color: rgba(0,0,0,0.5);
      }
    }

  }
}



/* for react-tagsinput component */
.react-tagsinput {
  border: 1px solid #ccc;
  background: #fff;
  padding: 10px;
  overflow-y: auto;
  border-radius: 3px;
}

.react-tagsinput-tag {
  display: block;
  border: 1px solid #c2dbf8;
  background: #e1e7f6;
  color: #5a5a5a;
  float: left;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  border-radius: 2px;
}

.react-tagsinput-invalid {
  background: #FBD8DB !important;
  color: #90111A !important;
}

.react-tagsinput-validating {
  background: #FFFACD !important;
}

.react-tagsinput-remove {
  font-weight: bold;
  color: #5a5a5a;
  text-decoration: none;
  font-size: 11px;
  cursor: pointer;
}

.react-tagsinput-remove:before {
  content: " x";
}

.react-tagsinput-input {
  background: transparent;
  color: #777;
  border: 1px solid #eaeaea;
  padding: 8px;
  margin: 0 0 0 10px;
  width: 120px;
  outline: none;
}
